{%- macro nav_links(dropdown_trigger) -%}
      {%- if not accounts_list -%}
      <li><a class="btn waves-effect waves-light disabled" href="{{ url_for('import.index') }}"><i class="material-icons left">add</i> <span class="hide-on-large-only">{% trans %}Transactions{% endtrans %}</span><span class="hide-on-med-and-down">{% trans %}Import New Transactions{% endtrans %}</span></a></li>
      <li><a class="disabled" href="#">{% trans %}Analysis{% endtrans %}</a></li>
      <li><a class="disabled" href="#">{% trans %}Transactions{% endtrans %}</a></li>
      <li><a class="disabled" href="#">{% trans %}Import Ruleset{% endtrans %}</a></li>
      <li><a class="disabled" href="#">{% trans %}Categories{% endtrans %}</a></li>
     {%- else -%}
      <li><a class="btn waves-effect waves-light" href="{{ url_for('import.index') }}"><i class="material-icons left">add</i> <span class="hide-on-large-only">{% trans %}Transactions{% endtrans %}</span><span class="hide-on-med-and-down">{% trans %}Import New Transactions{% endtrans %}</span></a></li>
      <li><a  href="{{ url_for('analysis.index') }}">{% trans %}Analysis{% endtrans %}</a></li>
     {% if accounts_list|length == 1 %}
        {%- set account_id=accounts_list[0].id -%}
      <li><a href="{{ url_for('transactions.index', account_id = account_id) }}">{% trans %}Transactions{% endtrans %}</a></li>
      <li><a href="{{ url_for('ruleset.index', account_id = account_id) }}">{% trans %}Import Ruleset{% endtrans %}</a></li>
      <li><a href="{{ url_for('categories.index', account_id = account_id) }}">{% trans %}Categories{% endtrans %}</a></li>
       {% else -%}
      <li><a class="dropdown-trigger-hover" data-target="dd_transactions_{{ dropdown_trigger }}">{% trans %}Transactions{% endtrans %}<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-trigger-hover" data-target="dd_ruleset_{{ dropdown_trigger }}">{% trans %}Import Ruleset{% endtrans %}<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-trigger-hover" data-target="dd_categories_{{ dropdown_trigger }}">{% trans %}Categories{% endtrans %}<i class="material-icons right">arrow_drop_down</i></a></li>
       {% endif -%}
     {% endif -%}
      <li><a href="{{ url_for('overview.index') }}">{% trans %}Overview{% endtrans %}</a></li>
{%- endmacro -%}

{%- macro dropdown_menu(id_value, url_target) -%}
<ul id="{{ id_value }}" class="dropdown-content">
{%- for account in accounts_list %}
  <li><a href="{{ url_for(url_target, account_id=account[0]) }}">{{ account[1] }}</a></li>
{% endfor -%}
</ul>
{%- endmacro -%}

<!doctype html>
<html>
<head>
<title>{% block title %}{% endblock %} - Moneywatch</title>
<link rel="stylesheet" href="{{ url_for('static', filename='materialize.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='materialize.icons.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='materialize.custom.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no" />
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='materialize.min.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='Chart.bundle.min.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='common_materialize.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='overview_modals.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='analysis.js') }}"></script>
</head>
<body>

{{ dropdown_menu("dd_transactions_mobile", "transactions.index") }}
{{ dropdown_menu("dd_transactions_regular", "transactions.index") }}

{{ dropdown_menu("dd_ruleset_mobile", "ruleset.index") }}
{{ dropdown_menu("dd_ruleset_regular", "ruleset.index") }}

{{ dropdown_menu("dd_categories_mobile", "categories.index") }}
{{ dropdown_menu("dd_categories_regular", "categories.index") }}

<nav class="nav-extended">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">MoneyWatch</a>
    <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {{ nav_links("regular") }}
    </ul>
  </div>
  <div class="nav-content">
    {%- block nav_extended %}{% endblock %}
  </div>
</nav>
  <ul class="sidenav" id="mobile-menu">
    {{ nav_links("mobile") }}
  </ul>
<div class="container">
  <header>
    <h3>{% block header %}{% endblock %}</h3>
  </header>
  {% for message in get_flashed_messages() %}
    <div class="row"><div class="col s12 flash">{{ message }}</div></div>
  {% endfor %}
  {% block content %}{% endblock %}
</div>
</body>
</html>