<!doctype html>
<title>{% block title %}{% endblock %} - Moneywatch</title>
<link rel="stylesheet" href="{{ url_for('static', filename='materialize.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='materialize.icons.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='materialize.custom.css') }}">

<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='common_materialize.js') }}"></script>

<nav class="nav-extended">
  <div class="nav-wrapper">
  <a href="#" class="brand-logo">MoneyWatch</a>
  <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="waves-effect waves-light btn"href="{{ url_for('import.index') }}"><i class="material-icons left">add</i> {% trans %}Import New Transactions{% endtrans %}</a></li>
      <li><a href="{{ url_for('transactions.index') }}">{% trans %}Transactions{% endtrans %}</a></li>
      <li><a href="{{ url_for('ruleset.index') }}">{% trans %}Import Ruleset{% endtrans %}</a></li>
      <li><a href="{{ url_for('categories.index') }}">{% trans %}Categories{% endtrans %}</a></li>
      <li><a href="{{ url_for('overview.index') }}">{% trans %}Overview{% endtrans %}</a></li>
  </ul>
  </div>
  <div class="nav-content">
  {% block nav_extended %}{% endblock %}
  </div>
</nav>

  <ul class="sidenav" id="mobile-menu">
    <li><a class="btn waves-effect waves-light" href="{{ url_for('import.index') }}">{% trans %}Import New Transactions{% endtrans %}</a></li>
    <li><a href="{{ url_for('transactions.index') }}">{% trans %}Transactions{% endtrans %}</a></li>
    <li><a href="{{ url_for('ruleset.index') }}">{% trans %}Import Ruleset{% endtrans %}</a></li>
    <li><a href="{{ url_for('categories.index') }}">{% trans %}Categories{% endtrans %}</a></li>
    <li><a href="{{ url_for('overview.index') }}">{% trans %}Overview{% endtrans %}</a></li>
  </ul>
<div class="container">
  <header>
    <h3>{% block header %}{% endblock %}</h3>
  </header>
  {% for message in get_flashed_messages() %}
    <div class="row"><div class="col s12 flash">{{ message }}</div></div>
  {% endfor %}
  {% block content %}{% endblock %}
</div>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='materialize.min.js') }}"></script>