include moneywatch/schema.sql
graft moneywatch/static
graft moneywatch/templates
graft moneywatch/translations
graft moneywatch/import_plugins
graft moneywatch/migrations
global-exclude *.pyc *.sh *.po *.pot
