include src/moneywatch/schema.sql
graft src/moneywatch/static
graft src/moneywatch/templates
graft src/moneywatch/translations
graft src/moneywatch/import_plugins
graft src/moneywatch/migrations
global-exclude *.pyc *.sh *.po *.pot
