{% extends 'base.html' %}

{% block header %}
{% block title %}{% trans %}Change Rule{% endtrans %}{% endblock %}
{% endblock %}

{% block content %}
{% set selected_category = request.form['category_id'] | default(rule.category_id) | int -%}
{% set selected_regular = request.form['regular'] | default(rule.regular) | int -%}
<div class="row">
  <div class="col l6 offset-l3 s12">
    <form method="post">
      <label for="name">{% trans %}Rule Name{% endtrans %}</label>
      <input name="name" id="name" value="{{ request.form['name'] or rule['name'] }}" required><br>

      <label for="pattern">{% trans %}Search Pattern{% endtrans %}</label>
      <input name="pattern" class="pattern" id="pattern" value="{{ request.form['pattern'] or rule['pattern']  }}" required><br>

      <label for="description">{% trans %}Short Description{% endtrans %}</label>
      <input name="description" id="description" value="{{ request.form['description'] or rule['description'] }}" required><br>

      <div class="input-field">
        <select name="category_id">
          {% for category in categories recursive -%}
          <option value="{{ category['id'] }}"{% if selected_category == category.id %} selected{% endif %}>{{ category.getCategoryPath(" > ") }}</option>
          {% if category.childs | length > 0 %}
              {{ loop(category.childs)}}
          {% endif %}
          {% endfor -%}
        </select>
        <label for="category">{% trans %}Category{% endtrans %}</label>
      </div>
      <br>

      <div class="input-field">
        <select name="regular">
        <option value="0"{% if 0 == selected_regular %} selected{% endif %}>{% trans %}no regularity{% endtrans %}</option>
        <option value="1"{% if 1 == selected_regular %} selected{% endif %}>{% trans %}monthly{% endtrans %}</option>
        <option value="3"{% if 3 == selected_regular %} selected{% endif %}>{% trans %}quarterly{% endtrans %}</option>
        <option value="6"{% if 6 == selected_regular %} selected{% endif %}>{% trans %}semi-annual{% endtrans %}</option>
        <option value="12"{% if 12 == selected_regular %} selected{% endif %}>{% trans %}annual{% endtrans %}</option>
        </select>
        <label for="category">{% trans %}Regularity{% endtrans %}</label>
      </div>
      <br>

      <div id="regular_form_fields" class="row"{% if selected_regular == 0 %} style="display:none;"{% endif %}>
        <div class="input-field col s6">
          <input name="next_due" id="next_due" type="date" {% if request.form['next_due'] or rule.next_due %}value="{{ request.form['next_due'] or rule.next_due.strftime('%Y-%m-%d') }}"{% endif %}><br>
          <label for="next_due">{% trans %}Next Due{% endtrans %}</label>
        </div>
        <div class="input-field col s6">
          <input name="next_valuta" type="number" step="0.01" id="next_valuta" value="{{ request.form['next_valuta'] or rule['next_valuta'] }}">
          <label for="next_valuta">{% trans %}Amount{% endtrans %}</label>
        </div>
      </div>
      <button class="btn-small right" type="submit" name="action" value="save">{% trans %}Save{% endtrans %}</button>
    </form>
  </div>
 </div>
{% endblock %}