{% extends 'base.html' %}

{% block header %}
{% block title %}{% trans %}Edit Transaction{% endtrans %}{% endblock %}
{% endblock %}

{% macro transaction_item(transaction, index) %}
<li class="collection-item">
<table class="transactions imports multiple-rule-transaction">
  <tr>
    <td class="date" rowspan="3">{{ transaction.date | dateformat(_("YYYY-MM-dd")) }}</td>
    <td class="short_description">
       <label for="description">{% trans %}Description{% endtrans %}</label>
       <input type="text" data-rule-no-replace="1" placeholder="{% trans %}Please enter a description{% endtrans %}..." name="description" {% if transaction.description %} value="{{ transaction.description }}"{% endif %} required>
    </td>
    <td rowspan=2" class="valuta num" data-num="{{ transaction.valuta }}">{{ transaction.valuta | currencyformat("EUR") }}</td>
  </tr>
  <tr>
    <td>
        <label>{% trans %}Category{% endtrans %}</label>
        <select class="browser-default" data-rule-no-empty="1" name="category_id" required>
        <option disabled value>{% trans %}Please Choose{% endtrans %}...</option>
        {% for cat in categories recursive %}
            <option value="{{ cat['id'] }}"{% if transaction.category_id == cat['id'] %} selected{% endif %}>{{ cat.getCategoryPath(" > ") }}</option>
            {% if cat.childs | length > 0 %}
                {{ loop(cat.childs)}} 
            {% endif %}

        {% endfor %}
        </select>
    </td>
  </tr>
  <tr>
    <td colspan="2" class="full_text" colspan="2">{{transaction.full_text}}</td>
  </tr>
</table> 
</li>
{% endmacro %}

{% block content %}
<br>

<form method="post">
<p class="right-align">

<button class="btn-small" name="action" value="save" type="submit">{% trans %}Save{% endtrans %}</button>
</p>

<p>
<ul class="collection">
{{ transaction_item(transaction, index) }} 
</ul>
</p>

<p>
<input type="hidden" name="transaction_id" value="{{ transaction.id }}">
{% if transaction.rule_id is not none %}

{% trans %}This transaction was identified by a rule. You can clear the binding of this transaction to the matched rule in case this transaction was mistakenly matched. In this case you should adapt the search pattern of the corresponding rule.{% endtrans %}
</p>
<p>
<label>
<input type="checkbox" class="filled-in" name="clear_rule" />
<span>{% trans rulename = transaction.rule.name %}Clear rule binding ({{ rulename }}){% endtrans %}</span>
</label>
{% endif %}
 </p>
{% endblock %}