{%- import 'transactions/macro.j2' as macro -%}
{% extends 'base.html' %}

{% block header %}
{% block title %}{% trans %}Edit Transaction{% endtrans %}{% endblock %}
{% endblock %}



{% block content %}
<br>

<form method="post">
  <p class="right-align">
    <button class="btn-small" name="action" value="save" type="submit">{% trans %}Save{% endtrans %}</button>
  </p>

  <p>
    {{ macro.item(transaction, True, categories) }}
  </p>
  <input type="hidden" name="transaction_id" value="{{ transaction.id }}">

  {% if transaction.rule_id is not none %}
  <p>
    {% trans %}This transaction was identified by a rule. You can clear the binding of this transaction to the matched rule in case this transaction was mistakenly matched. In this case you should adapt the search pattern of the corresponding rule.{% endtrans %}
  </p>

  <p>
    <label>
      <input type="checkbox" class="filled-in" name="clear_rule" />
      <span class="black-text">{% trans rulename = transaction.rule.name %}Clear rule binding ({{ rulename }}){% endtrans %}</span>
    </label>
  </p>
  {% endif %}
{% endblock %}
