{% extends 'base.html' %}

{% block header %}
{% block title %}{% trans %}Transactions{% endtrans %}{% endblock %}
{% endblock %}

{% macro transaction_item(transaction) %}
 <table cellspacing="0" class="transactions">
  <tr>
  <td class="date" rowspan="3">{{transaction.date | dateformat(_("yyyy-MM-dd"))}}</td>
  <td class="short_description">{{transaction.description}}{% if transaction.is_editable %} <span class='edit' style="display:none;"> <a class="tooltipped" href="{{ url_for('transactions.edit',id = transaction.id ) }}" data-tooltip="{% trans %}Edit transaction{% endtrans %}"><i class='tiny material-icons'>edit</i></a></span>{% endif %}</td>
  <td class="valuta num" rowspan="2" data-num="{{transaction.valuta}}">{{ transaction.valuta | currencyformat("EUR") }}</td>
  </tr>
  <tr>
  <td class="category">{{ transaction.category.name }}</td>
  </tr>
  <tr>
  <td class="full_text" colspan="2">{{ transaction.full_text }}</td>
  </tr>
  </table>
{% endmacro %}


{% macro message_item(transaction) %}
 <table cellspacing="0" class="transactions message">
  <tr>
  <td class="date" >{{transaction.date | dateformat(_("yyyy-MM-dd"))}}</td>
  <td class="full_text" colspan="2">{{ transaction.full_text }}</td>
  </tr>
  </table>
{% endmacro %}


{% macro item(transaction) %}
{% if transaction.type == "message" %}
{{ message_item(transaction) }}
{% else %}
{{ transaction_item(transaction) }}
{% endif %}
{% endmacro %}


{% block content %}

{% if transactions %}
<ul class="collection transactions_overview">
{% for transaction in transactions %}
<li class="collection-item">
{{ item(transaction) }}
</li>
{% endfor %}
 </ul>
{% else %}
<div class="no_content">{% trans %}No transactions available.{% endtrans %}</div>
{% endif %}

{% endblock %}