{% extends 'base.html' %}

{% block header %}
{% block title %}{% trans %}Check imported transactions{% endtrans %}{% endblock %}
{% endblock %}


{% macro item(transaction, index) %}
<div class="transaction item_container z-depth-1 with_controls {{ transaction.type }}{% if transaction.complete %} complete{% endif %}">
  <div class="left_ribbon">{{transaction.date | dateformat(_("yyyy-MM-dd"))}}</div>
  <div class="top_row">
    <div class="description">
      {% if transaction.type != "message" %}
      <div class="short_description">
        <label for="{{index}}_description">{% trans %}Description{% endtrans %}</label>
        <input type="text" placeholder="{% trans %}Please enter a description{% endtrans %}..." name="{{index}}_description" {% if transaction.description %} value="{{ transaction.description }}"{% endif %} required>
      </div>
      <div class="category">
        <div class="input-field">
          <select name="{{ index }}_category" required>
              <option disabled {% if transaction.category_id is none %}selected {% endif %}value>{% trans %}Please Choose{% endtrans %}...</option>
              {% for category in categories[transaction.account_id][transaction.type] %}
              <option value="{{ category['id'] }}"{% if loop.length == 1 or (transaction.category_id and transaction.category_id |int == category['id']) %} selected{% endif %}>{{ category["path"] }}</option>
              {% endfor %}
          </select>
          <label>{% trans %}Category{% endtrans %}</label>
        </div>
      </div>
      {% else %}
      <div class="message_noted">
        <input type="hidden" name="{{ index }}_message" value="1" />
        <label>
          <input type="checkbox" class="filled-in" name="{{ index }}_noted" {% if transaction.description %} checked{% endif%} />
          <span class="black-text">{% trans %}I have noted this message{% endtrans %}</span>
        </label>
      </div>
      {% endif %}
    </div>
    {% if transaction.type != "message" %}
    <span class="valuta_box {{ transaction.type }}">
      <span class="valuta num" data-num="{{transaction.valuta}}">{{ transaction.valuta | currencyformat("EUR") }}</span>
      {%- if transaction.trend %}
      <br>
      <span class="trend num" data-num="{{ transaction.trend }}">{%- if transaction.trend > 0 -%}
        &#8599;
      {%- elif transaction.trend < 0 -%}
        &#8600;
      {%- endif %} {{ transaction.trend | currencyformat("EUR") }}</span>
      {% endif %}
    </span>
    {% endif %}
  </div>
  <div class="full_text">{{ transaction.full_text }}</div>
</div>
{% endmacro %}


{% block content %}
<br>

{% if data %}
<form method="post">
<button class="btn-small" name="action" value="check" type="submit">{% trans %}Check again{% endtrans %}</button>
<button class="btn-small" name="action" value="save" {% if not complete %} disabled {% endif %} type="submit">{% trans %}Save{% endtrans %}</button>

{% for transaction in data %}
{{ item(transaction, loop.index0) }}
{% endfor %}

{% if data|length > 3 %}
<button class="btn-small" name="action" value="check" type="submit">{% trans %}Check again{% endtrans %}</button>
<button class="btn-small" name="action" value="save" {% if not complete %} disabled {% endif %} type="submit">{% trans %}Save{% endtrans %}</button>
{% endif %}
</form>
{% else %}
<div class="no_content">{% trans %}No transactions found.{% endtrans %}</div>
{% endif %}

{% endblock %}
