{% extends 'base.html' %}

{% block header %}
{% block title %}{% trans %}Check imported transactions{% endtrans %}{% endblock %}
{% endblock %}

{% macro transaction_item(transaction, index) %}
<li class="collection-item{% if transaction['category_id'] and transaction['description'] %} complete{% endif %}">
<table class="transactions transaction imports">
  <tr>
    <td class="date" rowspan="3">{{ transaction.date | dateformat(_("yyyy-MM-dd")) }}</td>
    <td class="short_description">
       <label for="{{index}}_description">{% trans %}Description{% endtrans %}</label>
       <input type="text" placeholder="{% trans %}Please enter a description{% endtrans %}..." name="{{index}}_description" {% if transaction.description %} value="{{ transaction.description }}"{% endif %} required>
    </td>
    <td rowspan=2 class="valuta">
      <span class="valuta num" data-num="{{ transaction.valuta }}">{{ transaction.valuta | currencyformat("EUR") }}</span>
      {% if transaction.trend is not none and transaction.trend != 0 %}<br><br>
      <span class="trend num" data-num="{{ transaction.trend }}">{%- if transaction.trend > 0 -%}
        &#8599;
      {%- elif transaction.trend < 0 -%}
        &#8600;
      {%- endif %} {{ transaction.trend | currencyformat("EUR") }}</span>
      {% endif %}
      
    </td>
  </tr>
  <tr>
    <td>
      <div class="input-field">
        <select name="{{ index }}_category" required>
            <option disabled {% if transaction.category_id is none %}selected {% endif %}value>{% trans %}Please Choose{% endtrans %}...</option>
            {% for category in categories[transaction.account_id][transaction.type] %}
            <option value="{{category["id"] }}"{% if loop.length == 1 or (transaction.category_id and transaction.category_id |int == category["id"]) %} selected{% endif %}>{{ category["path"] }}</option>
            {% endfor %}
        </select>
        <label>{% trans %}Category{% endtrans %}</label>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" class="full_text" colspan="2">{{transaction.full_text}}</td>
  </tr>
</table> 
</li>
{% endmacro %}

{% macro message_item(transaction, index) %}
<li class="collection-item{% if transaction.description %} complete{% endif %}">
<input type="hidden" name="{{ index }}_message" value="1" />
<table class="transactions message imports">
  <tr>
    <td class="date" rowspan="2">{{ transaction.date | dateformat(_("yyyy-MM-dd")) }}</td>
    <td colspan="2" class="full_text" colspan="2">{{transaction.full_text}}</td>
  </tr>
  <tr>
    <td>   
      <label>
        <input type="checkbox" name="{{ index }}_noted" {% if transaction.description %} checked{% endif%} />
        <span>{% trans %}I have noted this message{% endtrans %}</span>
      </label>
    </td>
  </tr>
</table> 
</li>
{% endmacro %}

{% block content %}
<br>

{% if data %}
<form method="post">
<button class="btn-small" name="action" value="check" type="submit">{% trans %}Check again{% endtrans %}</button>

<button class="btn-small" name="action" value="save" {% if not complete %} disabled {% endif %} type="submit">{% trans %}Save{% endtrans %}</button>

<ul class="collection">
{% for transaction in data %}
{% if transaction.type == "message" %}
{{ message_item(transaction, loop.index0) }} 
{% else %}
{{ transaction_item(transaction, loop.index0) }} 
{% endif %}
{% endfor %}
</ul>
{% if data|length > 3 %}
<button class="btn-small" name="action" value="check" type="submit">{% trans %}Check again{% endtrans %}</button>
<button class="btn-small" name="action" value="save" {% if not complete %} disabled {% endif %} type="submit">{% trans %}Save{% endtrans %}</button>
{% endif %}
</form>
{% else %}
<div class="no_content">{% trans %}No transactions found.{% endtrans %}</div>
{% endif %}

{% endblock %}