{% extends 'base.html' %}

{% block header %}
{% block title %}{% trans %}Import Transactions{% endtrans %}{% endblock %}
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <label for="file">{% trans %}File to import{% endtrans %} ({% trans %}allowed file extensions{% endtrans %}: {{ extensions | join(", ") | upper }})</label>
	
	
	<div class="file-field input-field">
	  <div class="btn">
        <span>{% trans %}Choose File{% endtrans %}</span>
        <input type="file" name="file" accept="{{ extensions | join(",") }}" required>
      </div>
	  <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
    
    <button class="btn" name="action" type="submit" value="check">{% trans %}Load{% endtrans %}</button>
  </form>
{% endblock %}