{% extends 'base.html' %}

{% block header %}
{% block title %}{% trans %}Check imported transactions{% endtrans %}{% endblock %}
{% endblock %}

{% macro transaction_item(transaction, index) %}
<div class="transaction item_container with_controls multiple-rule-transaction {{ transaction.type }}">
  <div class="left_ribbon">{{ transaction.date | dateformat(_("yyyy-MM-dd")) }}</div>
  <div class="top_row">
    <div class="description">
      <div class="short_description">
        <label for="description">{% trans %}Description{% endtrans %}</label>
        <input type="text" placeholder="{% trans %}Please enter a description{% endtrans %}..." name="description" {% if transaction.description %} value="{{ transaction.description }}"{% endif %} required>
      </div>
      <div class="category">
        <div class="input-field">
          <select name="category_id">
            <option disabled selected value>{% trans %}Please Choose{% endtrans %}...</option>
            {% for category in categories %}
            <option value="{{category['id'] }}">{{ category["path"] }}</option>
            {% endfor %}
          </select>
          <label>{% trans %}Category{% endtrans %}</label>
        </div>
      </div>
    </div>
    <span class="valuta_box {{ transaction.type }}">
      <span class="valuta num" data-num="{{transaction.valuta}}">{{ transaction.valuta | currencyformat("EUR") }}</span>
      {%- if transaction.trend %}
      <br>
      <span class="trend num" data-num="{{ transaction.trend }}">{%- if transaction.trend > 0 -%}
        &#8599;
      {%- elif transaction.trend < 0 -%}
        &#8600;
      {%- endif %} {{ transaction.trend | currencyformat("EUR") }}</span>
      {% endif %}
    </span>
  </div>
  <div class="full_text">{{ transaction.full_text }}</div>
</div>
{% endmacro %}


{% block content %}
<br>

<form method="post">
  <button class="btn-small" name="action" value="check" type="submit">{% trans %}Check again{% endtrans %}</button>
  <p>
    {% trans %}The following transaction matches multiple rules. This problem can occur when rules uses a search pattern that is not specific enough for such edge cases. If this problem happens several times with the same rules involved please consider to precise the search pattern of these rules.{% endtrans %}.<br>
    <br>
    {% trans %}Please decide which rule this transaction applies to.{% endtrans %}<br><br>
    <input type="hidden" name="transaction_id" value="{{ index }}">
    <label for="rule_id">{% trans %}Matching Rule{% endtrans %}</label>
    <select class="rule-select" name="rule_id" required>
      <option disabled selected value>{% trans %}Please Choose{% endtrans %}...</option>
      <option value="NONE">{% trans %}None{% endtrans %}</option>
      {% for rule in rules %}
      <option value="{{rule.id}}" data-description="{{rule.description}}" data-category-id="{{rule.category_id}}">{{ rule.name }}</option>
      {% endfor %}
    </select>
  </p>
</form>

<p>
{{ transaction_item(transaction, index) }}
</p>
{% endblock %}