{%- import 'transactions/index.html' as transactions -%}
{% extends 'base.html' %}

{% block header %}
{% block title %}{% trans %}Check imported transactions{% endtrans %}{% endblock %}
{% endblock %}



{% block content %}
<br>

<form method="post">
  <button class="btn-small" name="action" value="check" type="submit">{% trans %}Check again{% endtrans %}</button>
  <p>
    {% trans %}The following transaction matches multiple rules. This problem can occur when rules uses a search pattern that is not specific enough for such edge cases. If this problem happens several times with the same rules involved please consider to precise the search pattern of these rules.{% endtrans %}.<br>
    <br>
    {% trans %}Please decide which rule this transaction applies to.{% endtrans %}<br><br>
    <input type="hidden" name="transaction_id" value="{{ index }}">
    <label for="rule_id">{% trans %}Matching Rule{% endtrans %}</label>
    <select class="rule-select" name="rule_id" required>
      <option disabled selected value>{% trans %}Please Choose{% endtrans %}...</option>
      <option value="NONE">{% trans %}None{% endtrans %}</option>
      {% for rule in rules %}
      <option value="{{rule.id}}" data-description="{{rule.description}}" data-category-id="{{rule.category_id}}">{{ rule.name }}</option>
      {% endfor %}
    </select>
  </p>


  <div class="multiple-rule-transaction">
  {{ transactions.item(transaction, True, categories) }}
  </div>

</form>
{% endblock %}
