{%- import 'transactions/index.html' as transactions -%}
{% extends 'base.html' %}

{% block header %}
{% block title %}{% trans %}Check imported transactions{% endtrans %}{% endblock %}
{% endblock %}

{% block content %}
<br>

<div class="row">
    <div class="col s12 m8 offset-m2">
        {% trans -%}
        The uploaded file contains transactions for the following unknown account IBAN.
        {%- endtrans %}
    </div>
</div>

<div class="row">
    <div class="col s12 m8 offset-m2 hide-on-small-only">
        <div class="center unknown_account">
            <span class="description">{{ plugin_description }}</span> &mdash; <span class="iban">{{ iban_formatted }}</span>
        </div>
    </div>
    <div class="unknown_account col center-align s12 m4 offset-m2 hide-on-med-and-up">
        <span class="description">{{ plugin_description }}</span>
    </div>
    <div class="unknown_account col center-align s12  hide-on-med-and-up">
        <span class="iban">{{ iban_formatted }}</span>
    </div>

</div>

<div class="row">
    <div class="col s12 m4 offset-m2 left-align">
        {% trans -%}
        Do you want to create a new account for this IBAN?
        {%- endtrans %}
    </div>
    <div class="col s12 m4 center-align">
        <form method="POST">
            <button type="submit" class="btn-small" name="ignore_iban" value="{{ iban }}">{% trans %}No{% endtrans%}</button>
            <a class="btn-small" href="{{ url_for('accounts.add', iban=iban) }}">{% trans %}Yes{% endtrans%}</a>
        </form>

    </div>
</div>
<div class="row">
    <div class="col s12 m8 offset-m2">
        {{ transactions.item(transaction) }}
    </div>
</div>
<p>

</p>
{% endblock %}
