{%- import 'transactions/macro.j2' as macro -%}
{% extends 'base.html' %}

{% block header %}
{% block title %}{% trans %}Check imported transactions{% endtrans %}{% endblock %}
{% endblock %}


{% macro save_button() %}
<span class="tooltipped" data-tooltip="{% trans %}Please check the missing input for the following highlighted transactions.{% endtrans %}" data-position="right"><button class="btn-small" name="action" value="save"type="submit">{% trans %}Save{% endtrans %}</button></span>
{% endmacro %}

{% block content %}
<br>

{% if data %}
<form method="post" id="import_check">
  {{ save_button() }}
{% for transaction in data %}
<div class="import_check_container" data-item-id="{{loop.index0}}">
{{ macro.item(transaction, True, categories[transaction.account_id][transaction.type]) }}
</div>
{% endfor %}

{% if data|length > 3 %}
  {{ save_button() }}
{% endif %}
</form>
{% else %}
<div class="no_content">{% trans %}No transactions found.{% endtrans %}</div>
{% endif %}

{% endblock %}
