{% extends 'base.html' %}

{% block header %}
{% block title %}{% trans %}Edit Account{% endtrans %}{% endblock %}
{% endblock %}

{% block content %}
<div class="row">
<div class="col l3 hide-on-small-only"></div>
<div class="col l6 s12">
  <form method="post">
   
    <div class="input-field">
      <input name="name" id="name" type="text" value="{{ request.form['name'] or account.name }}" required>
      <label for="name">{% trans %}Account Name{% endtrans %}</label>
    </div>
    
    <div class="input-field">
      <input name="iban" id="iban" type="text" value="{{ request.form['iban'] or account.iban }}" required>
      <label for="iban">{% trans %}IBAN{% endtrans %}</label>
    </div>
    
    <div class="input-field">
      <input name="balance" id="balance" type="number" step="0.01" value="{{ request.form['balance'] or account.balance }}">
      <label for="balance">{% trans %}Initial Balance{% endtrans %}</label>
    </div>
    


    
     <div class="row">
     <div class="col m3 s6">
         <p>
       <label>
        <input class="with-gap" name="color" value="NONE" type="radio" {% if  request.form['color'] == "NONE" or (request.form['color'] or account.color) is none%}checked{% endif %}/>
        <span style="white-space:nowrap;">{% trans %}No Color{% endtrans %}</span>
       </label>
    </p>
    {% for color in colors %}
    {% if loop.index0 % 2 == 1 %}
    <div class="col m3 s6">
    {% endif %}
    <p>
     <label>
      <input class="with-gap" name="color" value="{{ color[1] }}" type="radio" {% if (request.form['color'] or account.color) == color[1] %}checked{% endif %} />
        <span><span class="account-color circle {{ color[0] }}"></span></span>
       </label>
       </p>
    {% if loop.index0 % 2 == 0 %}
    </div>
    {% elif loop.last %}
    </div>
    {% endif %}
    {% endfor %}
    
    </div>
    
    
    
    
    <button class="btn-small" type="submit" name="action" value="save">{% trans %}Save{% endtrans %}</button>
  </form>
 </div>
 <div class="col l3 hide-on-small-only"></div>
 </div>
{% endblock %}