{% extends 'base.html' %}

{% block header %}
{% block title %}{% trans %}Transactions{% endtrans %}{% endblock %}
{% endblock %}




{% block content %}

<div class="row">
  <div class="col m6 l8 hide-on-small-only"></div>
  <div class="col m6 l4 s12">
    <form class="transaction_list_params">
      <div class="input-field col s12 transaction-search">
        <i class="material-icons prefix">search</i>
        <input id="search" name="search" type="text"{% if term is not none %} value="{{ term }}"{% endif %} />
        <label for="search">{% trans %}search for transactions...{% endtrans %}</label>
      </div>
    </form>
  </div>
</div>

<div class="infinite_scroll transaction_container" data-url="{{ scroll_url }}"></div>
<div class="loading_spinner center-align">
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
</div>
<div class="no_content center-align" style="display:none;">{% trans %}No transactions available.{% endtrans %}</div>


{% endblock %}
