{% extends 'base.html' %}

{% block header %}
{% block title %}{% trans %}New Category{% endtrans %} {% if type == "in" %} ({% trans %}Earnings{% endtrans %}){% endif %}{% if type == "out" %} ({% trans %}Spendings{% endtrans %}){% endif %}{% endblock %}
{% endblock %}

{% block content %}
  <form method="post">
     <div class="input-field">
       <input name="name" type="text" id="name" value="{{ request.form['name'] }}" required>
       <label for="name">{% trans %}Category Name{% endtrans %}{% if path %} ({% trans %}below of{% endtrans %} {{ path }}){% endif %}</label>
     </div>
     
    {% if type == "out" %}
    <div class="input-field">
      <input name="budget_monthly" type="number" step="0.01" id="budget_monthly" value="{{ request.form['budget_monthly'] }}">
      <label for="budget_monthly">{% trans %}Monthly Budget{% endtrans %} ({% trans %}optional{% endtrans %})</label>
     </div>
    {% endif %}
    
    {% if parent %}
     <input type="hidden" name="parent" id="name" value="{{ parent }}">
    {% endif %}
    <button class="btn-small" type="submit" name="action" value="save">{% trans %}Save{% endtrans %}</button>
  </form>
{% endblock %}