
{% extends 'base.html' %}

{% block header %}
  {% block title %}{% trans %}Overview{% endtrans %}{% endblock %}
{% endblock %}


{% macro account_item(account) %}
    <table class="account_detail" data-account-id="{{ account.id }}">
    <tr>
     <td class="id" rowspan="2"># {{ account.id }}</td>
      <td class="name"><a href="{{ url_for('overview.overview', account_id=account.id) }}">{{ account.name }}</a></td>
      <td class="settings"><span class="right settings-icon" style="display:none;"><a class="dropdown-trigger" data-target="account_item_{{account.id}}"><i class="material-icons tiny grey-text">settings</i></a></span>
          <ul id='account_item_{{account.id}}' class='dropdown-content'>
            <li><a href="{{ url_for('accounts.change', id=account.id) }}">{% trans %}edit{% endtrans %}</a></li>
            <li><a href="{{ url_for('accounts.delete', id=account.id) }}">{% trans %}delete{% endtrans %}</a></li>
         </ul>
      </td>
      <td rowspan="2" data-num="{{ account.balance }}"  class="balance num"><a href="{{ url_for('overview.overview', account_id=account.id) }}">{{ account.balance | currencyformat("EUR") }}</a></td>
    </tr>
    <tr>
      <td colspan="2" class="iban">{{ account.iban_formatted }}</td>
    </tr>
    </table>
{% endmacro %}



{% block content %}
<div class="row account_overview center-align">

  <div class="col m1 l2 hide-on-small-only"></div>
  <div class="col m10 l8 s12">
   {% if accounts %}
   {% for account in accounts %}
     <div class="account_item z-depth-3">
      {{ account_item(account) }}
     </div>
    {% endfor %}
    {% else %}
    <div id="no_accounts_yet">There are no accounts defined yet. Please click below on the add button to create a new account.</div>
    {% endif %}
    <div class="divider"></div>
    <a class="btn-floating btn-large {% if not accounts %}pulse{% endif %}" href="{{ url_for('accounts.add') }}"><i class="material-icons">add</i></a>
  </div>
  <div class="col m1 l2 hide-on-small-only"></div>
</div>
{% endblock %}